<div class="row">
    <button type="button" class="btn btn-info" (click)="isCollapsed = !isCollapsed">JWT 信息</button>
    <div [collapse]="!isCollapsed" class="card card-block card-header">
        <div class="home col-md-5">
            <ng-container *ngIf="jwt">
                <h2>Your JWT is:</h2>
                <pre class="jwt"><code>{{ jwt }}</code></pre>
                <pre class="jwt"><code>{{ decodedJwt | json }}</code></pre>
            </ng-container>
            <p><button id="loginbtn" class="btn btn-primary" [disabled]='isLogined' (click)="login()">登录</button></p>
            <p><button class="btn btn-primary" [disabled]='!isLogined' (click)="logout()">注销</button></p>
        </div>
    </div>
</div>
<div class='row home'>
    <ng-container>
        <h4 *ngIf="curUser">用户=>{{curUser?.username}}</h4>
        <nav>
            <a [routerLink]="['/crisis-center']">Crisis Center</a>
            <a [routerLink]="['/heroes']">Heroes</a>
            <a [routerLink]="['/jquery']">Jquery</a>
            <a [routerLink]="['/crisis-center/admin']">Admin</a>
            <a [routerLink]="['/login']">Login</a>
            <a [routerLink]="['/signup']">Signup</a>
            <a [routerLink]="['/whitelist']">WhiteList</a>
            <a [routerLink]="['/tabs']">Tabs</a>
            <a [routerLink]="['/changedetectcenter']">ChangeDetectCenter</a>
            <a [routerLink]="['/dynamic-component-center']">DynamicComponentCenter</a>
            <a id='redirect' [routerLink]="['../', 'redirect']">RedirectTo</a>
        </nav>
        <ng-container *ngIf="false">
            query: name:{{name | async}} token:{{token | async}} fragment: {{fragment | async}}
        </ng-container>
        <ng-container>
            <router-outlet></router-outlet>
            <hr>
            <router-outlet name="aux"></router-outlet>
            <hr>
            <router-outlet name="bottom"></router-outlet>
        </ng-container>
    </ng-container>
</div>